body{
	font-family: "Helvetica Neue", Helvetica;
	margin:0px;
}
form {
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
.buttonwrapper {
	float: left;
	width: 0px;
}
.button{
	display: block;
	font-size: 14px;
	width: 130px;
	height: 20px;
	background: #1B1B1B;
	padding: 5px;
	text-align: center;
	color: #999999;
	text-decoration: none;
	border: 1px solid #969696;
	margin-top: -1px;
}
.button:hover{
	border-color:red;
	color: white;
	text-decoration: none;
	z-index:10;
}

#status{
	display: none;
	overflow: hidden;
	clear: both;
}
.pilogo {
	position: relative;
	text-shadow: 3px 0 3px rgba(0,0,0,0.1),2px 0 2px rgba(0,0,0,0.1),1px 0 1px rgba(0,0,0,0.1);
	font-size: 80px;
}
#pi-span{
	color: #E30B5C;
	letter-spacing: -18;
}
#pi-spa {
	letter-spacing: -22;
}

/*-------------------- BEGIN HEADER -----------------*/

#header{
	height: 160px;
	background: url("images/small_jumbotron.jpg") repeat center center;
}
#logo-area{
	float: left;
	margin-left: 14px;
	margin-top: 0px;
	width: 50%;
}
#logo-link{
	color: white;
	text-decoration: none;
}
#search-btn{
	background-color: 555555;
	padding: 5px 10px;
	position: relative;
	top: 7px;
}
#search-area{
	width: 33%;
	float: right;
	position: relative;
	top: -65px;
	margin-right: 10px;
	text-align: right;
}
#searchbox{
	height: 23px;
}
.ribbon {
	height: 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
/*-------------------- END HEADER -----------------*/
#uptime {
	text-align: center;
	color: #999999;
	padding: 10px 15px;
	float:right;
}

/*-------------------- START NAV -----------------*/
.navbar-inner{
	background-image: linear-gradient(to bottom, #222222, #111111);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #252525;
	min-height:40px;
}
.cont {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.nav {
	margin: 0;
	-webkit-padding-start: 0;
	font-size: 14px;
	float:left;
}
.nav > li {
	float: left;
	display: inline-block;
}
.nav > li > a, #time {
	display: block;
	color: #999999;
	padding: 12px 15px 12px;
}
.nav > li > a:hover, .nav > li > a:hover .navicon {
	color: white;
	opacity: 1;
}

.navicon {
	background-image: url("bootstrap/img/glyphicons-halflings-white.png");
	width: 14px;
	height: 14px;
	float: left;
	margin-left:-1px;
	padding-right:1px;
	opacity: .3;
}

#time-icon {
	background-position: -47px -23px;
	position: relative;
	top: 12px;
}

#stat-icon {
	background-position: -384px -143px;
}
#setting-icon {
	background-position: -434px 1px;
}
#logout-icon {
	background-position: -384px 1px;
}



#uptime-icon {
	background-image: url("bootstrap/img/glyphicons-halflings-white.png");
	background-position: -47px -23px;
	width: 14px;
	height: 14px;
	float: right;
	margin-top: 11px;
	opacity: .3;
}

.nav ul {
	display:none;
}

.nav li:hover > ul {
	display: block;
	color: white;
	opacity: 1;
}

.nav :after {
	clear: both; 
	display: block;
}


.nav ul {
	background: rgb(63,63,63); 
	border-radius: 0px 0px 3px 3px;
	border: 1px solid #252525;
	padding: 10px;
	position: absolute;
	list-style:none;
	z-index: 100;
}
.nav ul li {
	float: none; 
	position: relative;
	padding: 5px 0;
}

#uptime-nav {
	float:right;
}

#ui-autocomplete {
	display: none;
	color: black;
	background-color: white;
	list-style: none;
	z-index: 101;
	position: absolute;
	left: 100px;
	top: 26px;
	border: 1px solid rgb(165,165,165);
	padding: 0;
	margin: 0;
	width: 180px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor: pointer;
}

#new-weather-location { 
	width: 182px;
	height: 22px;
	border: 1px solid rgb(107,104,104);
	border-radius: 3px;
}

#ui-autocomplete li:not(:first-child) {
	border-top: 1px solid rgb(224,224,224);
}

#ui-autocomplete li {
	padding: 3px 10px;
	color: grey;
}

#ui-autocomplete li:hover {
	background-color: rgb(155, 219, 255);
	color: black;
}


#save-config-btn {
	background-image: linear-gradient(to bottom, rgb(16,121,255), rgb(0,90,204));
	border: 1px solid rgb(101,121,223);
	border-radius: 3px;
	padding: 5px 100px;
	line-height: 27px;
	font-weight: 700;
	cursor: pointer;
}

#save-config-btn:hover {
	background-image: linear-gradient(to bottom, rgb(0,112,255), rgb(0,85,194));
}

/*-------------------- END NAV -----------------*/
/*-------------------- BEGIN MAIN CONTENT -----------------*/

#main-content {
	background-color:white;
}

/*-------------------- END MAIN CONTENT ------------*/
/*-------------------- BEGIN FOOTER ------------*/
#footer {
	height:160px;
	display:block;
	background-color:#f5f5f5;
	background: url("images/texturetastic_gray.jpg") repeat center center;
	border-top: 1px solid #ddd;
}
/*-------------------- END FOOTER ------------------*/
/*-------------------- BEGIN STATS -----------------*/
.statssection {
	width: 50%;
	margin: 0 auto;
}
.statssection1 , .cpubox{
	position: relative;
}
.piecontainer {
	float: left;
	padding: 10px;
}

#ram-pie-container {
	position: relative;
	left: 51px;
}

.notlast {
	border-right: 1px solid #D8D8D8;
}

.pietext {
	text-align: center;
	font-size: 12px;
	margin-top: 7px;
	border-top: 1px solid #D8D8D8;
}
.easyPieChart {
	margin: 0 auto;
	font-weight: 900;
}

.statwrapper { 
	float:left;
	position: relative;
}

.cpubox, .rambox, .netbox{
	float: left;
	padding: 0 20px 40px 20px;
	margin-bottom: 10px;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	position: relative;	
	max-height: 170px;
	-webkit-transition-duration: 0.3s;
	width: 220px;
	overflow: hidden;
}

.cpubox:after {
	content: "CPU";
}

.rambox:after {
	content: "RAM";
}

.netbox:after {
	content: "NET";
}

.cpubox:after, .rambox:after, .netbox:after{
	position: absolute;
	top: -1;
	left: -1;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	padding: 2px;
	background-color: #F5F5F5;
	color: #919191;
}


.area-chart {
	float:left;
	display:block;
	position: absolute;
	left: 250;
	-webkit-transition-duration: 0.3s;
}

#show-ram-hist {
	left: 100px;
}

.showhide {
	width: 19px;
	float: left;
	display: block;
	position: relative;
	top: 52px;
}

.showhideicon{
	background-image: url("bootstrap/img/glyphicons-halflings.png");
	background-position: -454px -72px;
	width: 15px;
	height: 14px;
	display: block;
	padding: 1px;
	border: 1px solid #D8D8D8;
	border-radius: 9px;	
	left: 10px;
}


.details {
	width:200px;
	text-align: center;
	position: relative;
	top: 10px;
}

.detail {
	display: inline-block;
}

.detail-current {
}

.detail-min-max, .detail-governor, .detail-ramtotal, .detail-speedtxt {
	position: relative;
	top: 7px;
}

.detail-speedtxt {
	display: block;
}

.detail-governor {
	position: relative;
	top: 14px;
}

/*-------------------- END STATS -----------------*/
/*-------------------- START WEATHER -----------------*/
.weather {
	width: 50%;
	float: right;
    position: relative;
    top: -130px;
}
.weather2 {
	float: right;
	position: relative;
}
.weatherlabel {
    position:  relative;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}

#weatherimg {
	float:left;
}
#weatherdetails {
	float:right;
	height: 128px;
}
#weatherupdated {

}

.wlist {
	list-style: none;
	-webkit-padding-start: 0;
	-webkit-margin-before: 2.2em;
}
.wlist > li {
	
}
/*-------------------- END WEATHER -----------------*/


.doughnutinner {
	position:absolute;
	top: 50px;
	left:47px;
	font-weight:900;
}

/*--------------------- MEDIA QUERY -----------------*/

@media screen and (max-width:890px) {
	.pilogo {
		font-size:70px;
	}
	
		#logo-area {
		margin-top:15px;
	}
	.weather {
		top:-121px;
	}
	#imgweather {
		width: 89px;
		margin-top:15px;
	}
}

@media screen and (max-width:768px) {
	.pilogo {
		font-size: 60px;
	}
	
	#logo-area {
		margin-top:25px;
	}
	
		#imgweather {
		
	}
}


