* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

html {
	font-family: "Helvetica Neue", Helvetica;
	
}

body{
	position: absolute;
	top: 40px;
	margin: 0px;
	width: 100%;
	color: rgb(100, 100, 100);
	background-color: #fff;
}

/* ======= general usefullness ======= */
.hideElement {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; 
	width: 1px; 
	margin: -1px; 
	padding: 0; 
	border: 0; 
}

nav:hover .hideElement, nav:active .hideElement {
	width: auto;
	height: auto;
	clip: auto;
	overflow: visible;
}

/* ======= header ======= */
.page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

/* ======= Logo ======= */
.logo{
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	letter-spacing: -2;
	font-weight: 200;
	background-color: white;
}

body.night-mode .logo {
	background-color: #222;
}

.logoBrace {
	position: relative;
	top: -3px;
}

.pi-span{
	color: #E30B5C;
}

/* ======= menu ======= */
.menu-btn {
	position: absolute;
	top: 4;
	right: 10;
	cursor: pointer;
	color: #e30b5c;
}

.dropdownmenu {
	position: absolute;
	right: 10px;
	border: 2px solid #E30B5C;
	border-radius: 3px;
	background-color: white;
}
body.night-mode .dropdownmenu {
	background-color: #222;
}

.ul-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ul-menu::before {
	content: "";
	border: 10px solid transparent;
	border-bottom-color: #E30B5C;
	position: absolute;
	top: -20px;
	right: 1px;
}
.ul-menu::after {
	content: "";
	border: 10px solid transparent;
	border-bottom-color: white;
	position: absolute;
	top: -17;
	right: 1px;
}
body.night-mode .ul-menu::after {
	border-bottom-color: #222;
}
.ul-menu li {
	padding: 15px 10px;
	cursor: pointer;
}

.ul-menu li:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* ======= Status Bars ======= */
section.statusBarsContainer {
	display: table;
	margin: 0 auto;
	white-space: nowrap;
}
@media screen and (min-width: 1024px) {
	section.statusBarsContainer {
	}
}

.statusBarsLabel {
	width: 102px;
	text-align: right;
}
@media screen and (min-width: 640px) {
	.statusBarsLabel {
		width: 164px;
	}
}
@media screen and (min-width: 1024px) {
	.statusBarsLabel {
		width: 233px;
	}
}

.contentNameLabel {
	-webkit-transition: all 800ms ease;
	font-size: 2em;
	position: relative;
	top: -11px;
	left: 5px;
}
@media screen and (min-width: 640px) {
	.contentNameLabel {
		font-size: 3.5em;
	}
}
@media screen and (min-width: 1024px) {
	.contentNameLabel {
		font-size: 5em;
	}
}

.contentNameLbrace, .contentNameRbrace, .contentRparentheses, .contentLparentheses {
	font-size: 4.8em;
	-webkit-transition: all 800ms ease;
}
@media screen and (min-width: 640px) {
	.contentNameLbrace, .contentNameRbrace, .contentRparentheses, .contentLparentheses {
		font-size: 6.8em;
	}
}
@media screen and (min-width: 1024px) {
	.contentNameLbrace, .contentNameRbrace, .contentRparentheses, .contentLparentheses {
		font-size: 9.8em;
	}
}

.statusBars {
	position: relative;
	left: -3px;
}
@media screen and (min-width: 640px) {
	.statusBars {
		left: -16px;
	}
}

.barContainer {
	display: block;
	margin-top: 6px;
	position: relative;
	left: -6px;
}
@media screen and (min-width: 640px) {
	.barContainer {
		left: 0;
	}
}
@media screen and (min-width: 1024px) {
	.barContainer {
		margin-top: 20px;
		margin-bottom: 20px;
		left: -12px;
	}
}

.barText{
	text-align: right;
	width: 31px;
}
@media screen and (min-width: 640px) {
	.barText {
		width: 46px;
	}
}
@media screen andn (min-width: 1024px) {
	.barText {
		width: initial;
	}
}

.barText, .postfixSymbol {
	font-size: 1em
}
@media screen and (min-width: 640px) {
	.barText, .postfixSymbol {
		font-size: 1.5em
	}
}
@media screen and (min-width: 1024px) {
	.barText, .postfixSymbol {
		font-size: 2em
	}
}

.postfixSymbol {
	width: 39px;
}
@media screen and (min-width: 1024px) {
	.postfixSymbol {
		width: 32px;
	}
}

.netSpeedUpUnits, .netSpeedDownUnits {
	width: 39px;
}

.netStatusBars .postfixSymbol {
	font-size: 1em;
}

.barBackground {
	-webkit-transition: width 1s ease, opacity 1s ease;
	width: 100px;
	height: 13px;
	border: 1px solid rgb(177, 175, 175);
	background-color: rgb(238, 238, 238);
	border-radius: 2px;
}
@media screen and (min-width: 1024px) {
	.barBackground {
		width: 300px;
		height: 24px;
	}
}

.barFill{
	height: 11px;
	width: 0;
	background-color: rgb(46, 228, 12);
	overflow: hidden;
	-webkit-transition: width 500ms cubic-bezier(0.000, 0.585, 0.545, 0.960);
}
@media screen and (min-width: 1024px) {
	.barFill{
		height: 22px;
	}
}

.ramBars {
	position: relative;
	top: -14px;
}
@media screen and (min-width: 1024px) {
	.ramBars {
		position: relative;
		top: -30px;
	}
}

.parentheses, .contentNameRbrace {
	position: relative;
	left: -6px;
}
@media screen and (min-width: 640px) {
	.parentheses, .contentNameRbrace {
		position: initial;
	}
}
@media screen and (min-width: 1024px) {
	.parentheses, .contentNameRbrace {
		position: initial;
	}
}

.details {
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 18px;
	width: 0;
	-webkit-transition: width 1s ease;
}
@media screen and (min-width: 640px) {
	.cpudetails {
		display: inline-block;
		top: 27px;
	}
}
@media screen and (min-width: 1024px) {
	.cpudetails {
		top: 21px;
	}
}

.ramdetails, .netdetails {
	top: 9px;
}
@media screen and (min-width: 640px) {
	.ramdetails, .netdetails {
		top: 12px;
		position: relative;
	}
}
@media screen and (min-width: 1024px) {
	.ramdetails, .netdetails {
		top: 12px;
		position: relative;
	}
}

.cpudetails.test {
	width: 151px;
}
.ramdetails.test {
	width: 96px;
}
.netdetails.test {
	width: 173px;
}
@media screen and (min-width: 1024px) {
	.cpudetails.test {
		width: 200px;
	}
	.ramdetails.test {
		width: 127px;
	}
	.netdetails.test{
		width: 235px;
	}
}

.detailsFreq {
	font-size: 1em;
	line-height: 1.2em;
	display: block;
	text-shadow: none;
}
@media screen and (min-width: 640px) {
	.detailsFreq {
		font-size: 0.9em;
		line-height: 1.9em;
	}
}
@media screen and (min-width: 1024px) {
	.detailsFreq {
		font-size: 1.3em;
		line-height: 1.55em;
	}
}
@media screen and (min-width:1024px) {
	.threeDetails{
		line-height: 1.85em;
	}
}

.barBackground, .contentNameLbrace, .contentNameRbrace, .contentNameLabel, .statusBars, 
.statusBarsLabel, .barText, .postfixSymbol, .contentRparentheses, .contentLparentheses, .details, .parentheses  {
	display: inline-block;
}

.night-mode {
	background-color: #222;
	color: white;
}







/*============================================*/
.anim {
	opacity: 0 !important;
	width: 0 !important;
}
.animin {
	width: 100px;
}
@media screen and (min-width: 1024px) {
	.animin {
		width: 300px;
	}
}
/*============================================*/


